body {
    font-family: Helvetica;
}

section {
    margin-bottom: 5rem;
}

.main-header {
    font-weight: 700;
}

.subheader {
    margin-bottom: 1rem;
}

.subheader span {
    color: #936a19;
    font-weight: 700;
}

#ratings {
    margin: 70px 0;
}

#ratings img {
    /* width: 75%; */
    height: 47px;
}

.ratings-wrap {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.headline {
    font-weight: 700;
}

.video-wrapper {
    position: relative; 
    padding-bottom: 39.25%;
    padding-top: 25px;
    margin-bottom: 4.5rem;
}

.video-wrapper iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.button-wrap {
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #e4a933;
    color: #373737;
    border: none;
    font-weight: 700;
    width: 100%;
    height: 2.5rem;
}

.custom-card-color {
    background-color: #efebd8;
    padding: 3rem;
}

.custom-card-color h2, .half-custom-card h2 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.custom-card-color-text {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 575px) {
    #ratings {
        margin: 30px 0;
    }

    .ratings-wrap {
        margin-bottom: 25px;
    }

    #ratings img {
        height: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #ratings img {
        height: 40px;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    #ratings {
        margin: 50px 0;
    }
}

@media screen and (min-width: 992px) {
    #ratings img {
        /* width: 55%; */
        height: 62px;
    }
}