body {
    font-family: Helvetica;
}

section {
    margin-top: 3rem;
    margin-bottom: 5rem;
    
}

label {
    font-weight: 700;
}

.contact-us-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d3d3d3;
    padding: 3rem;
    box-shadow: 1px 9px 11px 3px hsl(0deg 0% 50% / 25%);
}

.contact-us-form input, .contact-us-form textarea {
    border: 1px solid #e4a933;
}

.thank-you {
    text-align: center;
}

.green-check {
    margin-bottom: 1.3rem;
}

.main-header {
    font-weight: 700;
    margin-bottom: 2rem;
}

.subheader {
    margin-bottom: 1rem;
}

.subheader span {
    color: #936a19;
    font-weight: 700;
}

#ratings {
    margin: 70px 0;
}

#ratings img {
    /* width: 75%; */
    height: 47px;
}

.ratings-wrap {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.headline {
    font-weight: 700;
}

.video-wrapper {
    position: relative; 
    padding-bottom: 39.25%;
    padding-top: 25px;
    margin-bottom: 4.5rem;
}

.video-wrapper iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #e4a933;
    color: #373737;
    border: none;
    font-weight: 700;
    width: 100%;
    height: 2.5rem;
}

.custom-card-color, .half-custom-card-color {
    background-color: #efebd8;
    padding: 3rem;
}

.card-header {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.custom-card-color-text {
    margin-bottom: 1.5rem;
}

.info {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.social h6 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.social a {
    text-decoration: none;
    margin-right: 1rem;
}

.social img {
    height: 22px;
}

.sub-section, .share-section {
    display: flex;
}

.share {
    margin-right: 8px;
}

.decom-social a {
    text-decoration: none;
    margin-right: 8px;
}

.decom-social img {
    height: 16px;
}

.last-updated-section {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #000;
}

@media screen and (max-width: 575px) {
    #ratings {
        margin: 30px 0;
    }

    .ratings-wrap {
        margin-bottom: 25px;
    }

    #ratings img {
        height: 50px;
    }
}

@media screen and (max-width: 367px) {
    .contact-us-form {
        height: 97vh;
    }
}

@media screen and (min-width: 366px) and (max-width: 478px) {
    .contact-us-form {
        height: 95vh;
        max-height: 803px;
    }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
    .contact-us-form {
        height: 92vh;
        max-height: 762px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #ratings img {
        height: 40px;
    }
}

@media screen and (max-width: 767px) {
    .contact-info-section {
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 768px) {
    .contact-us-form {
        height: 73vh;
        max-height: 585px;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    #ratings {
        margin: 50px 0;
    }
}

@media screen and (min-width: 992px) {
    #ratings img {
        /* width: 55%; */
        height: 62px;
    }
}